// THEME
$bgColor: #27AE60;
$mainColor: white;
$secColor: #2ECC71;


// GLOBALS
$small-devices: 960px;

.selected {
    background-color: #2ECC71;
}


body {
    background-color: $bgColor;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    color: $mainColor;
}

.wrapper {
    max-width: 960px;
    align-self: center;
    margin: 20px auto;
}

.layout {
    display: flex;
    flex-direction: column;    
}

.header {
    top: 0;
    background-color: $secColor;
    display: flex;
    grid-area: header;
    align-items: center;
    flex-wrap: wrap;

    .user-panel {
        display: flex;
        justify-content: flex-end;
        
        i {
            padding-right: 20px;
            font-size: large;
        }
    }
    #logo {
       max-width: 150px;
       max-height: 150px; 
       flex-grow: 1;
    }

    #page-title {
        color: white;
        font-size: 24px;
        flex-grow: 2;
        text-align: center;
    }
}

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    gap: 12px;
    
    .site-select {
        ul { 
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            
            
            .page {
                padding: none;
                list-style-type: none;

                a {
                    color : $mainColor;
                    text-decoration: none;

                }
                
            }
        }
    }
    
    
}

footer {
    grid-area: footer;
    display: flex;
    flex-wrap: wrap;

    .contact {
        flex-grow: 2;    
    }
    .social {
        flex-grow: 1;
    }
}

@media screen and (max-width: $small-devices) {
    body {
        min-width: 200px;
    }
    .site-select {
        ul { flex-direction: column; align-items: center; }
    }
    .header {
        flex-direction: column;
        align-items: center;
    }
    .contact {
        align-items: center;
    }
    .social {
        align-items: center;
    }
}

  
