// THEME
$bgColor: #27AE60;
$mainColor: white;
$secColor: #2ECC71;


// GLOBALS
$small-devices: 960px;


.product {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid;
    
    .cover {
        padding: 0;
        align-self: center;
        max-width: 160px;
        max-height: 200px;
        border-radius: 100%;
    }
    .description {
        padding: 0;
        flex-grow: 3;
        max-width: 650px;
        padding: 0 20px;
    }
    .add {
        padding: 0;
        align-self: center;
        width: 108px;
        height: 65px;
    }
}

@media screen and (max-width: $small-devices) {
    .product {
        flex-direction: column;
    }
}