.product {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid;
}

.product .modify {
  display: flex;
  align-items: center;
}

.product .modify .add {
  padding-left: 10px;
  width: auto;
}

.product .modify .amount {
  width: 20px;
}

.product .cover {
  padding: 0;
  align-self: center;
  max-width: 150px;
  width: 100%;
  max-height: 150px;
  height: 100%;
}

.product .cover.sum {
  max-width: 100px;
  max-height: 100px;
}

.product .description {
  padding: 0;
  flex-grow: 3;
  max-width: 650px;
  padding: 0 15px;
}

.product .add {
  align-items: center;
  padding: 0;
  align-self: center;
  width: 108px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product .add .inp {
  display: flex;
}

.product .add .inp input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.product .add .inp .amount {
  width: 20px;
  margin-left: 3px;
  margin-right: 3px;
}

.product .add .inp .deladd {
  cursor: pointer;
}

.product .add .fa-cart-plus {
  background-color: none;
  /* Blue background */
  border: none;
  font-size: 30px;
  cursor: pointer;
}

#checkout {
  align-self: flex-end;
}

@media screen and (max-width: 960px) {
  .product {
    flex-direction: column;
  }
}
