// THEME
$bgColor: #27AE60;
$mainColor: white;
$secColor: #2ECC71;


// GLOBALS
$small-devices: 960px;



.product {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid;
    
    .modify {
        display: flex;
        align-items: center;
        
        .add {
            padding-left: 10px;
            width: auto;
        }
        .amount {
            width: 20px;
        }
        
    }
    .cover {
        padding: 0;
        align-self: center;
        max-width: 150px;
        width: 100%;
        max-height: 150px;
        height: 100%;
        //object-fit: cover;
        //border-radius: 100%;
    }
    .cover.sum {
        max-width: 100px;
        
        max-height: 100px;
        
    }
    .description {
        padding: 0;
        flex-grow: 3;
        max-width: 650px;
        padding: 0 15px;
    }
    .add {
        align-items: center;
        padding: 0;
        align-self: center;
        width: 108px;
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        

        .inp {
            display: flex;

            input[type=number]::-webkit-inner-spin-button {
                -webkit-appearance: none;
            }
            .amount {
                width: 20px;
                margin-left: 3px;
                margin-right: 3px;
            }
            .deladd {
                
                cursor: pointer;
            }
        }

        .fa-cart-plus{
            background-color: none; /* Blue background */
            border: none;
            font-size: 30px;
            cursor: pointer;
        }
    }
}
#checkout {
    align-self: flex-end;
}

@media screen and (max-width: $small-devices) {
    .product {
        flex-direction: column;
    }
}