// THEME
$bgColor: #27AE60;
$mainColor: white;
$secColor: #2ECC71;


// GLOBALS
$small-devices: 960px;



.product {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid;

    
    .modify {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .addToCart i {
            font-size: 24px;
            cursor: pointer;
        }
        .add {
            padding-left: 10px;
            width: auto;
        }
        .fas.fa-minus {
            margin-right: 40px;
        }
        .amount {
            width: 20px;
            margin-left: 3px;
            margin-right: 3px;
            background-color: $bgColor;
            color: $mainColor;
            border: 0;
            text-align: center;
        }
        input[type=number]::-webkit-inner-spin-button {
                -webkit-appearance: none;
            }
        
    }
    .cover {
        padding: 0;
        align-self: center;
        max-width: 150px;
        width: 100%;
        max-height: 150px;
        height: 100%;
        //object-fit: cover;
        //border-radius: 100%;
    }
    .cover.sum {
        max-width: 100px;
        
        max-height: 100px;
        
    }
    .description {
        padding: 0;
        flex-grow: 3;
        max-width: 650px;
        padding: 0 15px;
        align-self: center;
    }
    .add {
        align-items: center;
        padding: 0;
        align-self: center;
        width: 108px;
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        

        .inp {
            display: flex;

            input[type=number]::-webkit-inner-spin-button {
                -webkit-appearance: none;
            }
            .amount {
                width: 20px;
                margin-left: 3px;
                margin-right: 3px;
                background-color: $bgColor;
                color: $mainColor;
                border: 0;
                text-align: center;
            }
            .deladd {
                
                cursor: pointer;
            }
        }
        .addToCart {
        margin-top: 10px;
    }

        .fa-cart-plus{
            background-color: none; /* Blue background */
            border: none;
            font-size: 30px;
            cursor: pointer;
        }
    }
}
#checkout {
    align-self: flex-end;

    button {
        padding: 20px;
        background-color: $secColor;
        color: $mainColor;
        border-radius: 4px;
        font-size: 26px;
        border: 0;
    }

    button:hover {
        background-color: $mainColor;
        color: $secColor;
        transition: width 2s, height 2s, transform 2s;
        cursor: pointer;
    }
}

@media screen and (max-width: $small-devices) {
    .modify {
        justify-content: center !important;
        margin-bottom: 10px;
    }
    .product {
        flex-direction: column;
        width: 100%;
    }
}