body {
  background-color: pink;
  font-family: 'Roboto', sans-serif;
  margin: 0px;
}

.wrapper {
  width: 960px;
  align-self: center;
  margin: 20px auto;
}

.layout {
  display: grid;
  grid-template-areas: "header header header header" "main main main main" "footer footer footer footer";
}

.header {
  top: 0;
  background-color: grey;
  display: flex;
  grid-area: header;
  align-items: center;
}

.header #logo {
  max-width: 150px;
  max-height: 150px;
  flex-grow: 1;
}

.header #page-title {
  color: white;
  font-size: 24px;
  flex-grow: 2;
  text-align: center;
}

main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

main .product {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid;
}

main .product .cover {
  align-self: center;
  max-width: 160px;
  max-height: 200px;
  flex-grow: 1;
  border-radius: 100%;
}

main .product .description {
  flex-grow: 2;
  width: 350px;
  padding: 0 20px;
}

main .product .add {
  align-self: center;
  width: auto;
  height: 65px;
  flex-grow: 1;
}

footer {
  grid-area: footer;
  display: flex;
  flex-wrap: wrap;
}

footer .contact {
  flex-grow: 2;
}

footer .social {
  flex-grow: 1;
}
